@import url(colours.css);


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: auto;
    overflow: hidden;
    font-family: 'Teko'
}

.hero-text {
    font-size: 5rem;
}

.hero-subtext {
    font-size: 2rem;
    color: var(--text-dark);
}