.preloader {
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
}

.preloader-logo {
    margin: auto;
    width: 300px;
    height: 300px;
    animation: preload 1s;
}

.preloader-logo g,
.preloader-logo path {
    fill: var(--accent-light);
}

@keyframes preload {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0.1
    }

    20% {
        opacity: 0.2
    }

    30% {
        opacity: 0.3
    }

    40% {
        opacity: 0.4
    }

    50% {
        opacity: 0.5
    }

    60% {
        opacity: 0.6
    }

    70% {
        opacity: 0.7
    }

    80% {
        opacity: 0.8
    }

    90% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}