@import url(colours.css);

.ProseMirror {
    height: 70vh;
    width: 80vw;
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--text-dark);
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px var(--accent-light);
}

.ProseMirror:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 10px 1px var(--accent-light);
}

.ProseMirror::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ProseMirror::-webkit-scrollbar-track {
    border-radius: 5px;
}

.ProseMirror::-webkit-scrollbar-thumb {
    background: var(--accent-light);
    border-radius: 5px;
}

.ProseMirror::-webkit-scrollbar-thumb:hover {
    background: var(--accent-light);
}

.ProseMirror h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

.ProseMirror h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.ProseMirror h3 {
    font-size: 2rem;
    margin: 1rem 0;
}


.ProseMirror h4 {
    font-size: 2rem;
    margin: 1rem 0;
}

.ProseMirror p {
    color: var(--text-light);
}

.ProseMirror pre {
    background-color: var(--accent-dark);
    color: var(--text-light);
    padding: 0.2rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.ProseMirror code {
    font-size: 1rem;
}


.menubar {
    margin: 0.25rem;
    width: 80vw;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menubar button {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--text-dark);
    font-size: 1.25rem;
    background-color: var(--background);
    box-shadow: 0 0 2px 1px var(--accent-light);
    margin-right: 1rem;
}

.menubar button:disabled {
    background-color: var(--background);
    box-shadow: none;
}

.menubar button:disabled>g,
.menubar button:disabled>path {
    fill: var(--text-dark);
}

.menubar .is-active {
    box-shadow: 0 0 10px 2px var(--accent-light);
}

.menubar g,
.menubar path {
    fill: var(--accent-light)
}